.lmc-card {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background-color: white;
    display: block;
 }
 
 .lmc-card-body {
    padding: 15px;
    min-height: 195px;
    display: block;
 }
 
 .lmc-card-footer {
    margin: 12px 15px 15px 15px;
    display: block;
 }
 
.lmc-profile-link {
    width: 57px;
    margin: 0 1px 5px;
    text-align: center;
}

.lmc-more-link {
    margin: 0 11px;
    position: relative;
    top: 15px;
    font-size: 12px;
}

 .lmc-card-footer .lmc-flex-container {
    display: flex;
    justify-content: space-between;
 }

.lmc-card-title {
    opacity: 0.7;
    font-size: 28px;
    margin-top: 30px;
}

.lmc-flex-grid {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
}

.lmc-card-body p {
    padding-top: 0;
    margin-top: 0;
    font-size: 14px;
    opacity: 0.9;
}


.lmc-card-footer p {
    margin: 8px 0 0 !important;
    font-size: 14px;
    opacity: 0.7;
}

.dashboard-container {
    padding-right: 45px;
    border-right: 1px solid #e8e8e8;
}

.videoWrapper {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}